* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito';
    font-style: normal;
}

.container {
    position: relative;
    display: flex;
    justify-content: left;
}

/* tamanho da imagem: 1350x640 */
.headerimg {
    filter: brightness(55%);
    display: flex;
    height: 660px;
    width: 1350px;
}

#texto {
    position: absolute;
}

.titulo {
    width: 300px;
    height: 100px;
    margin-top: 20%;
    margin-left: 27%;
}

.paragrafo {
    width: 400px;
    height: 50px;
    margin-top: 3%;
    margin-left: 20%;
}

/* tamanho do botao: 522x63*/
.saibamais {
    position: absolute;
    background-color: #A08050;
    color: white;
    border-color: #A08050;
    height: 50px;
    width: 380px;
    text-shadow: none;
    font-weight: bold;
    margin-top: 25%;
    margin-left: 11%;
}

.oferece {
    position: absolute;
    margin-left: 39%;
    margin-top: 46.5%;
}
.quadrado {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: -2%;

}

.info {
    position: absolute;
    top: 96%;
    left: 40%;
    color: rgb(253, 253, 253);
}

.principal{
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* tamanho imagem 2: 632 x 300 */
.img2 {
    height: 350px;
    width: 632px;
}

/* tamanho logo: 200 x 100 */
.logo {
    height: 150px;
    width: 220px;
}

.secundaria {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feedback {
    margin-top: 2%;
}

.terciaria {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#perguntas {
    margin-top: 2%;
}

#btn2 {
    background-color: #A08050;
    color: white;
    border-style: hidden;
    border-color: #A08050;
    height: 45px;
    width: 150px;
    border-radius: 2%;
    text-shadow: none;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 5%;
}

.container2 {
    display: flex;
    justify-content: center;
    position: relative;
}

/*tamanho da imagem do footer: 1350x460 */
.img3 {
    display: flex;
    height: 640px;
    width: 1350px;
}

.logo2 {
    position: absolute;
    top: 70%;
    height: 120px;
    width: 170px;
}

.direitos {
    position: absolute;
    top: 90%;
}